.about-container{
    background-color: var(--bg-color-2);
    display: flex;
    flex-direction: column;
    width: 100%;
    color:var(--font-color);

    .heading{
        text-align: center;
        color: var(--font-color);
        letter-spacing: 3px;
        padding-top: 2rem;
        margin-bottom: 0;

        @media screen and (max-width: 991px) {
            padding-top: 1rem ;
        }
    }
    .about-content{
        display: flex;
        gap:4rem;
        padding: 2rem;
        justify-content: center;
        flex: 1;

        @media screen and (max-width:991px){
            flex-direction: column;
            gap: 2rem;
            padding: 0;
        }
    }
    .image-outer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .image-container{
            box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
            flex: 1;
            background-color: var(--card-bg-color);
            padding: 15px 15px 30px;
            display: flex;
            flex-direction: column;
            height: fit-content;
            margin: 2rem;
            max-width: 350px;
            img{
                object-fit: cover;
            }
            .skills{
                display: flex;
                gap: 1.5rem;
                align-items: center;
                justify-content: center;
            }
            @media screen and (max-width:991px){
                margin: 0;
            }

        }
    }
    .description-outer-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .description-container{
            border: 1px solid var(--font-color);
            flex: 3;
            background-color: var(--card-bg-color);
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: 0.25rem;
            margin: 1rem;

            @media screen and (max-width:575px){
                margin: 0.75rem;
            }
            .header{
                padding: 1rem;
                border-bottom: 1px solid rgba(0, 0, 0, .125);
                display: flex;
                gap: 1rem;
                .circle{
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    display: block;
                    &.red{
                        background-color: rgb(237, 76, 92);
                    }
                    &.yellow{
                        background-color: rgb(253, 203, 88);
                    }
                    &.green{
                        background-color: rgb(120, 177, 89);;
                    }
                }
            }
            .description{
                padding: 1.25rem;
                margin: 0 1rem;
                line-height: 200%;
                font-size: 1.5rem;

                @media screen and (max-width:767px){
                   font-size: 1rem;
                   padding: 0;
                }
            }
        }
    }
}